<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= current_user.email %></h2>
        <small>
          account created on: <%= current_user.created_at %>
          <%= link_to "Task Manager", items_path %>
        </small>
      </div>
    </div>
  </div>
</div>
