<%= form_for @item do |f| %>
  <div class="form-inline">
    <div class="form-group">
      <%= f.label :name, class: 'sr-only' %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Submit task" %>
    </div>
    <%= f.submit "Submit", class: 'btn btn-default pull-right' %>
  </div>
<% end %>
